## Python
#__pycache__/
#*.py[cod]
#*$py.class
#venv/
#.env
#.pytest_cache/
#.coverage
#htmlcov/

## Node
node_modules/
#dist/
#dist-ssr/
#*.local

## OS
#.DS_Store
#Thumbs.db

## Project Specific
data/
#!data/.gitkeep
#models/*.pkl
#results/
#tests/sample.pcap
#logs/

## IDEs
#.vscode/
#.idea/
#*.swp
#*.swo
#data/cicids2017_cleaned.parquet
